.list-warp {
  min-height: 100vh;
  background: #141a30;

  .at-divider {
    height: 60px;
  }

  .at-search-bar {
    background: #141a30;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;

    &:after {
      content: none;
    }
  }

  &-content {
    min-height: 100vh;
    padding: 30px 40px;

    &-card {
      margin-top: 20px;
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-filter {
    margin-bottom: 20px;
    font-size: 28px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-title {
      color: #ffffff;
    }

    &-item {
      color: #ffffff;
      margin-right: 30px;
    }

    &-item-active {
      color: #fac618;
    }
  }
}
