.list-warp {
  background: #141a30;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;

  .at-divider {
    height: 60px;
  }

  .at-search-bar {
    background: #141a30;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;

    &:after {
      content: none;
    }
  }

  &-filter {
    margin-bottom: 20px;
    font-size: 28px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &-title {
      color: #ffffff;
    }

    &-item {
      color: #ffffff;
      margin-right: 30px;
    }

    &-item-active {
      color: #fac618;
    }
  }

  &-card {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}
