.card {
  display: flex;

  &-img {
    width: 146px;
    height: 220px;
    margin-right: 20px;
    position: relative;

    &-tag,
    &-recommend,
    &-video {
      position: absolute;
      color: #ffffff;
      font-size: 24px;
    }

    &-tag {
    }

    &-recommend {
      // border-top: 60px solid #da5333;
      // border-left: 60px solid transparent;
      top: -2px;
      right: 1px;
      color: #da5333;
      transform: rotate(90deg);
      font-size: 60px;

      // &::before {
      //   content: "";
      //   position: absolute;
      //   top: -60px;
      //   right: 0;
      //   border-top: 20px solid #ffffff;
      //   border-left: 20px solid transparent;
      // }

      // &::after {
      //   content: "推\荐";
      //   white-space: pre;
      //   position: absolute;
      //   top: -52px;
      //   right: 1px;
      //   font-size: 18px;
      //   font-weight: bold;
      //   text-align: center;
      //   color: #ffffff;
      //   transform: rotate(45deg);
      //   z-index: 1;
      // }
      // transform: rotate(45deg);
      // padding: 2px;
      // text-align: center;
      // width: 60px;
    }

    &-video {
    }
  }

  &-content {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;

    &-title-group {
      display: flex;
      align-items: flex-end;
      margin-bottom: 10px;
    }

    &-title {
      font-size: 36px;
      color: #ffffff;
    }

    &-grade {
      font-size: 24px;
      color: #acaec5;
    }

    &-trait {
      color: #e0698f;
      border: 4px solid #e0698f;
      border-radius: 8px;
      padding: 6px;
      font-size: 24px;
      display: inline-block;
      margin-right: 6px;
    }

    &-isHot,
    &-xin {
      font-size: 44px;
    }

    &-isHot {
      color: #da5333;
      margin-right: 6px;
    }

    &-xin {
      color: #686e84;
    }

    &-tags,
    &-describe {
      color: #797a96;
      font-size: 28px;
      margin-bottom: 10px;
    }

    &-tags {
      margin-bottom: 10px;
    }

    &-describe {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    &-bottom {
      display: flex;
      color: #797a96;
      font-size: 24px;

      &-view {
        position: relative;
        margin-right: 60px;

        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          height: 70%;
          top: 20%;
          right: -25%;
          width: 2px;
          background: #797a96;
        }
      }

      &-icon {
        font-size: 24px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }
}
