.detail {
  min-height: 100vh;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .at-divider {
    height: 60px;
  }

  .at-tabs__header {
    background-color: transparent;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .at-tabs__item {
    color: rgba(255, 255, 255, 0.7);
    flex: none;
    padding: 0;
    margin-right: 20px;
    font-size: 42px;
    transition: all 0.15s;
  }

  .at-tabs__item--active {
    color: rgba(255, 255, 255, 1);
  }

  .at-tabs__item-underline,
  .at-tabs__underline {
    display: none;
  }

  &-content {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(50px);

    &-main {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 30px;
    }
  }
}
