.detail {
  position: relative;
  height: 100vh;
  width: 100vw;

  .at-divider {
    height: 60px;
  }

  &-bg {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
      content: "";
      background-color: rgba(0, 0, 0, 0.65);
      height: 100vh;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      backdrop-filter: blur(50px);
    }
  }

  &-tabs {
    display: flex;
    justify-content: flex-start;
    color: rgba(255, 255, 255, 0.7);
    line-height: 60px;
    font-size: 32px;

    &-item {
      transition: all 0.15s;

      &:first-of-type {
        margin-right: 20px;
      }

      &-active {
        color: rgba(255, 255, 255, 1);
        font-size: 42px;
      }
    }
  }

  &-content {
    position: absolute;
    height: 100vh;
    width: 100vw;

    &-main {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 30px;
    }
  }
}
